<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier - HC Burger Frais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🛒 Mon panier</h1>

    {% if items %}
        {% for item in items %}
            <div class="product-card">
                <h3>{{ item.name }}</h3>
                <p>
    <p>
    Quantité :
    <a href="{{ url_for('remove_from_cart', pid=item.id) }}" onclick="updateCart(event, this)">➖</a>
    <span>{{ item.quantity }}</span>
    <a href="{{ url_for('add_to_cart', pid=item.id) }}" onclick="updateCart(event, this)">➕</a>
</p>
                <p>Prix : {{ item.price }} €</p>
                <strong>
                   Sous-total : {{ "%.2f"|format(item.price * item.quantity) }} € 
                </strong>
            <a href="{{ url_for('remove_from_cart', pid=item.id) }}">🗑️ Supprimer</a>
           <a href="{{ url_for('order', pid=item.id) }}">🍔 Commander / choisir menu</a> </div>
        {% endfor %}

        <h2>Total : {{ "%.2f"|format(total) }} €</h2>

    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}

    <p>
        <a href="/">← Retour aux produits</a>
    </p>

   <script>
async function updateCart(event, link) {
    event.preventDefault();

    const scrollPosition = window.scrollY;

    await fetch(link.href);

    sessionStorage.setItem("cartScroll", scrollPosition);
    location.reload();
}

window.addEventListener("load", function () {
    const scrollPosition = sessionStorage.getItem("cartScroll");

    if (scrollPosition !== null) {
        window.scrollTo(0, parseInt(scrollPosition));
        sessionStorage.removeItem("cartScroll");
    }
});
</script> 
</body>
</html>
